/*styles go here*/

#container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #f9e6d8;
}

/*text and font styles*/

body {
  background-color:#36587d;
}

h1 {
  font-family:'Kreon', serif;
  font-size: 2.5em;
  color: #4b83a4;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family:'Kreon', serif;
  font-size: 1em;
  color: #4b83a4;
  font-weight: bold;
  text-align: center;
}

p{
  color: #2b506d;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.info a:link {
color: #fe2d29 ;
}
.info a:visited {
color: #fe2d29 ;
}
.info a:hover {
color: #fe2d29 ;
}

/*image style*/

img {
    width: 100%;
}

/*navigation styles*/

.navigation {
	list-style: none;
	margin: 0;
	background: #4b83a4;
  padding-left: 60px;
  padding-right: 60px;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    font-family:'Nunito Sans', sans-serif;
    text-align: center;
    padding: 10px;
    border-bottom:1px solid white;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

/*colors for different parts of page*/

header {
  background: #f9e6d8;
}

footer {
  background: #f9e6d8;
}

article {
  background: #ADD8E6;
}

.aside-2 {
  background: #e8f4f8;
}

/*Setting up flexible boxes for content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

/*These styles activate when the page is larger than 600px wide*/

@media all and (min-width:600px) {

  .navigation {
      flex-flow: row wrap;
      justify-content: flex-end;
  }

  .navigation a {
      border: none;
  }

  .navigation a:hover {
    background: #fe2d29;
  }


  aside {
      flex: 1 auto;
  }

  article {
  flex: 2 0px;
}

  article {
      order: 1;
  }

  .aside-2 {
      order: 2;
  }

  .aside-3 {
    order: 3;
  }

  footer {
      order: 3;
  }

  .image {
      width: 45%;
      margin-right: 10px;
  }

  .info {
      width: 45%;
  }

  .first {
      margin-top: 0;
  }

  article {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
  }
}

/*These styles activate when the page is larger than 800px wide*/

@media all and (min-width:800px) {

    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: #fe2d29;
    }

    aside {
        flex: 1 auto;
    }

    article {
		flex: 2 0px;
	}

    article {
        order: 1;
    }

    .aside-2 {
        order: 2;
    }

    .aside-3 {
      order: 3;
    }

    footer {
        order: 3;
    }

    .image {
        width: 45%;
        margin-right: 10px;
    }

    .info {
        width: 45%;
    }

    .first {
        margin-top: 0;
    }

    article {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
  }

/*footer style*/

#footer {
    color: #2b506d;
    font-family: 'Crimson Text', serif;
    font-size: 0.8em;
    border-top: 1px solid #2b506d;
  }
