/*styles go here*/

#container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #f9e6d8;
}

header{
  background-color: #fe2d29
}

h1 {
  font-family:'Kreon', serif;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

p{
  color: #2b506d;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #fff;
  background-color: #4b83a4;
  text-decoration: none;
  font-family:'Nunito Sans', sans-serif;
  text-align: center;
  padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color: #36587d;
}

img {
  border: none;
}

#footer {
    color: #2b506d;
    font-family: 'Crimson Text', serif;
    font-size: 0.8em;
    border-top: 1px solid #2b506d;
